<section id="home" class="hero-section">
  <div class="container">
    <div class="row align-items-center min-vh-100">
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold text-white">JESÚS GILBERTO<br>
          <span class="text-warning">RAMÍREZ LIZÁRRAGA</span>
        </h1>
        <h2 class="fs-3 mb-4 text-light">Ing. en Tecnologías de la Información</h2>
        <p class="lead mb-4 text-light">Desarrollador Full Stack junior con experiencia en Angular, TypeScript,
          JavaScript, HTML, CSS y tecnologías modernas como NestJS, Java, MySQL, Node.js y AWS.</p>
        <div class="hero-buttons d-flex align-items-center gap-3">
          <button class="btn btn-warning" (click)="scrollTo('skills')">Mis Habilidades</button>

          <button class="btn btn-outline-light" (click)="scrollTo('contact')">Contáctame</button>

        <a 
          class="btn btn-success"
          href="assets/cv/CV-Gilberto-Ramirez.pdf"
          download="CV-Gilberto-Ramirez.pdf">
          Descargar CV
        </a>
</div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="profile-placeholder">
          <i class="fas fa-user-tie fa-10x text-light"></i>
        </div>
      </div>
    </div>
  </div>
</section>